@font-face {
	font-family: "Raleway";
	src: url("assets/fonts/Raleway-Regular.eot") format("eot"),
		 url("assets/fonts/Raleway-Regular.woff2") format("woff2"),
		 url("assets/fonts/Raleway-Regular.woff") format("woff"),
		 url("assets/fonts/Raleway-Regular.ttf") format("truetype"),
		 url("assets/fonts/Raleway-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Raleway";
	src: url("assets/fonts/Raleway-Medium.eot") format("eot"),
		 url("assets/fonts/Raleway-Medium.woff2") format("woff2"),
		 url("assets/fonts/Raleway-Medium.woff") format("woff"),
		 url("assets/fonts/Raleway-Medium.ttf") format("truetype"),
		 url("assets/fonts/Raleway-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Raleway";
	src: url("assets/fonts/Raleway-Bold.eot") format("eot"),
		 url("assets/fonts/Raleway-Bold.woff2") format("woff2"),
		 url("assets/fonts/Raleway-Bold.woff") format("woff"),
		 url("assets/fonts/Raleway-Bold.ttf") format("truetype"),
		 url("assets/fonts/Raleway-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Millunium";
	src: url("assets/fonts/Millunium-Medium.eot") format("eot"),
		 url("assets/fonts/Millunium-Medium.woff2") format("woff2"),
		 url("assets/fonts/Millunium-Medium.woff") format("woff"),
		 url("assets/fonts/Millunium-Medium.ttf") format("truetype"),
		 url("assets/fonts/Millunium-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}