.box--white {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
    border-radius: 2px;
    background-color: $color-primary;
    padding: 48px;
    position: relative;
    z-index: 2;
}

.box--green {
    background-color: $color-accent;
    color: $color-primary;
}

@media (max-width: $desktop) {
    .box--white {
        padding: 42px 30px;
    }
}

@media (max-width: $phone-big) {
    .box--white {
        padding: 36px 16px;
    }
}