.page__title {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Raleway-Bold";
    margin: 0 0 9px;
    text-transform: uppercase;
}

.page__heading {
    color: rgba(0, 0, 0, 0.8);
    font-family: "Millunium-Medium";
    font-weight: 500;
}