.contact {
    padding: 100px 0 95px;
}

.contact__container {
    display: flex;
    justify-content: space-between;
}

.contact__photo {
    width: 50%;
    padding-right: 44px;
}

.contact__grid {
    width: 50%;
    padding-left: 16px;
}