.footer {
    background-color: $color-primary-dark;
    padding: 43px 0;
    text-align: center;
}

.footer__copy {
    font-weight: 500;
    color: $color-primary;
    margin: 0;
}

@media (max-width: $phone-big) {
    .footer {
        padding: 33px 0;
    }
}