.join__container {
    padding: 108px 0 152px;
    position: relative;
}

.join__how {
    width: 50%;
}

.join__heading {
    margin: 0 0 20px;
}

.join__text {
    margin-bottom: 33px;
}

.join__opinion {
    position: absolute;
    width: 55%;
    padding: 36px 36px 36px 138px;
    top: 175px;
    right: 0;
}

.join__rating {
    font-family: "Raleway-Medium";
    margin-bottom: 24px;
    position: relative;

    &::before {
        content: '';
        background: url('./assets/icons/quote-right.svg') no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0;
        left: -54px;
        fill: red;
    }
}

.join__person {
  display: flex;
  align-items: center;
}

.join__avatar {
    border-radius: 50%;
    background: $color-primary;
    width: 64px;
    margin-right: 20px;
}

.join__name {
    margin: 0;
    font-family: "Raleway-Bold";
}

.join__profession {
    margin: 0;
    font-family: "Raleway-Medium";
}