.join {
    padding: 108px 0 170px;
}

.join__container {
    display: grid;
    grid-template-columns: 50% calc(50% + 48px);
}

.join__how {
    align-self: flex-start;
}

.join__heading {
    margin: 0 0 20px;
}

.join__text {
    margin-bottom: 33px;
}

.join__opinion {
    padding: 36px 36px 36px 138px;
    margin: 67px 0 0 -48px;
    width: 100%;
    align-self: flex-start;
}

.join__rating {
    font-weight: 500;
    margin: 0 0 24px;
    position: relative;

    &::before {
        content: '';
        background: url('./assets/icons/quote-right.svg') no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0;
        left: -54px;
        opacity: 0.5;
    }
}

.join__person {
  display: flex;
  align-items: center;
}

.join__avatar {
    border-radius: 50%;
    background: $color-primary;
    width: 64px;
    margin-right: 20px;
}

.join__name {
    margin: 0;
}

.join__profession {
    margin: 0;
    font-weight: 500;
}

@media (max-width: $desktop) {
    .join {
        padding: 72px 0 0;
        margin-bottom: -110px;
    }

    .join__container {
        display: grid;
        grid-template-columns: 100%;
    }
    
    .join__how {
        width: 600px;
        max-width: 90%;
    }
    
    .join__opinion {
        width: 628px;
        max-width: 92%;
        padding: 102px 30px 42px 84px;
        margin: -55px 0 0;
        justify-self: flex-end;
    }
    
    .join__avatar {
        width: 48px;
        margin-right: 16px;
    }
}

@media (max-width: $phone-big) {
    .join {
        padding-top: 42px;
        margin-bottom: 0;
    }
    
    .join__how {
        margin: 0 auto;
        max-width: 100%;
        width: calc(100% - 16px);
    }
    
    .join__heading {
        margin-bottom: 24px;
    }
    
    .join__text {
        margin-bottom: 26px;
    }
    
    .join__opinion {
        margin-top: -36px;
        width: 100%;
        max-width: 100%;
        padding: 72px 16px 36px;
    }
    
    .join__rating::before {
        width: 81px;
        height: 81px;
        top: -20px;
        left: calc(100% - 81px);
        opacity: 0.15;
    }
}