.page__container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;  
    position: relative;
}

.page__section--white {
    background-color: $color-primary;
}

.page__section--grey {
    background-color: $color-primary-light;
}

@media (max-width: $desktop) {
    .page__container {
        width: 95%;
    }
}

@media (max-width: $phone-big) {
    .page__container {
        width: 100%;
    }
}