.nav__navbar {
    position: fixed;
    top: 0;
    padding: 28px 0;
    width: 100%;
    transition: padding 200ms linear;
    z-index: 10;
}

.scrolled .nav__navbar {
    background: $color-primary-dark;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    padding: 10px 0;
}

.nav__sidebar {
    display: none;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    text-decoration: none;
    color: #fcfdfe;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.nav__image {
    width: 31px;
    margin-right: 8px;
}

.nav__menu {
    list-style: none;
    margin: 0;
}

.nav__menu--desktop {
    display: flex;
}

.nav__link {
    text-decoration: none;
    color: $color-primary;
    display: inline-block;
    transition: color 200ms;

    &:hover, &.active {
        color: $color-accent;
    }
}

.nav__link--desktop {
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 30px;
    font-size: 15px;
}

.nav__hamburger {
    display: none;
}

@media (max-width: $desktop) { 
    .nav__menu--desktop {
        display: none;
    }  

    .nav__sidebar {
        display: block;
    }

    .nav__menu--mobile {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 476px;
        background-color: $color-primary-dark;
        padding: 186px 72px 50px;
        transform: translateX(100%);
        transition: transform 300ms, opacity 300ms;
        opacity: .7;
        z-index: 12;
    }

    .nav__link--mobile {
        margin: 0 0 22px 0;
        font-weight: 500;
        font-size: 28px;
        text-transform: none;
    }

    .nav__hamburger {
        display: block;
        width: 24px;
        height: 20px;
        position: fixed;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        top: 36px;
        right: 2.5%;
        z-index: 15;
    }

    .nav__line {
        position: absolute;
        height: 4px;
        width: 100%;
        background: $color-primary;
        border-radius: 5px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }
          
        &:nth-child(2), &:nth-child(3) {
            top: 8px;
        }
          
        &:nth-child(4) {
            top: 16px;
        }
    }

    .scrolled {
        .nav__hamburger {
            width: 19px;
            height: 16px;
            top: 20px;
        }
    
        .nav__line {
            height: 3px;
              
            &:nth-child(2), &:nth-child(3) {
                top: 6px;
            }
              
            &:nth-child(4) {
                top: 12px;
            }
        }

        .nav__image {
            width: 28px;
        }

        .nav__name {
            display: none;
        }
    }

    .hamburger--open {
        overflow-y: hidden;
        
        .nav__line {
            opacity: 0.7;

            &:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
    
            &:nth-child(2) {
                transform: rotate(45deg);
            }
    
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
    
            &:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }

        .nav__menu--mobile {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@media (max-width: $phone-big) {
    .nav__navbar, .scrolled .nav__navbar {
        padding: 10px 16px;
    }

    .nav__image {
        width: 28px;
    }

    .nav__name {
        display: none;
    }

    .nav__hamburger {
        width: 19px;
        height: 16px;
        right: 16px;
        top: 20px;
    }

    .nav__line {
        height: 3px;
          
        &:nth-child(2), &:nth-child(3) {
            top: 6px;
        }
          
        &:nth-child(4) {
            top: 12px;
        }
    }

    .nav__menu--mobile {
        width: 286px;
        padding: 72px 42px 50px;
    }
    
    .nav__link--mobile {
        margin-bottom: 19px;
        font-size: 22px;
    }
}

@media (max-width: $desktop) and (orientation: landscape) {
    .nav__menu--mobile {
        padding: 72px 42px 50px;
    }
    
    .nav__link--mobile {
        font-size: 22px;
    }
}