.tournament {
    padding-top: 103px;
    margin-bottom: -110px;
}

.tournament__container {
    display: grid;
    grid-template-areas: 
        'about photo' 
        'statistics photo';
    grid-template-columns: 50% calc(50% + 93px);
    grid-template-rows: max-content;
}

.tournament__about {
    grid-area: about;
}

.tournament__heading {
    margin: 0 0 20px;
}

.tournament__photo {
    grid-area: photo;
    width: 100%;
    margin: 72px 0 0 -93px;
}

.tournament__statistics {
    grid-area: statistics;
    padding: 40px 42px 38px;
    text-align: center;
    width: 83%;
    justify-self: center;
    align-self: flex-start;
    z-index: 2;
}

.tournament__title {
    margin: 0 0 30px;
    text-transform: uppercase;
}

.tournament__grid {
    display: flex;
    flex-wrap: wrap;
}

.tournament__item {
    width: 33%;
}

.tournament__number {
    margin: 0;
}

.tournament__desc {
    margin: 0 auto;
}


@media (max-width: $desktop) {
    .tournament {
        padding-top: 72px;
        margin-bottom: -125px;
    }

    .tournament__container {
        display: grid;
        grid-template-areas: 
            'about statistics' 
            'photo statistics';
        grid-template-columns: 65% calc(35% + 30px);
    }
    
    .tournament__heading {
        margin-bottom: 27px;
    }
    
    .tournament__photo {
        margin: 0 0 0 40px;
    }
    
    .tournament__statistics {
        width: 100%;
        justify-self: auto;
        margin: 124px 0 0 -30px;
        padding: 40px 30px 20px 60px;
        z-index: 1;
    }
    
    .tournament__grid {
        display: block;
    }
    
    .tournament__item {
        width: 110px;
        margin: 0 auto 20px;
    }
}

@media (max-width: $phone-big) {
    .tournament {
        padding-top: 42px;
        margin-bottom: 0;
    }

    .tournament__container {
        display: block;
    }
    
    .tournament__about {
        width: calc(100% - 16px);
        margin: 0 auto;
    }
    
    .tournament__photo {
        width: 100%;
        margin: -36px 0 -4px;
    }
    
    .tournament__statistics {
        padding: 36px 16px;
        width: 100%;
        margin: 0;
    }
    
    .tournament__title {
        margin-bottom: 25px;
    }
    
    .tournament__desc {
        margin-bottom: 16px;
        max-width: 100%;
    }
}
